/* @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.navbar{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 3rem;
}

.left h1{
    font-size: 2.4rem;
    cursor: pointer;
    color: white;

}

#checkbox{
    display: none;
}

.checkbox{
    display: none;
    color: white;
    cursor: pointer;
    font-size:30px ;
    float: right;
    color: #ed1e79;
    line-height: 80px;
}

.right ul{
    display: flex;
    list-style: none;
}

.right ul li a{
    padding: 10px 20px;
    font-size: 1.2rem;
    color: whitesmoke;
    cursor: pointer;
    transition: all 1s;
    /* it makes transition */
    text-decoration: none;
}

.right ul li a:hover{
    background-color: #fff;
    border-radius: 7px;
    color: black;

}
@media screen and (max-width:805px) {
    .list{
        width: 50%;
        height: 100vh;
        background-color: black;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 5rem;
        left: 100%;
        transition: all 1s;
    }

    #checkbox{
        display: none;
    }

    .checkbox{
        display:block;

    }

    #checkbox:checked~.list{
        left: 50%;
    }
    
}



